<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/stylese.css">
    <script src="https://use.typekit.net/huu8mlz.js"></script>
    <script>try{Typekit.load({ async: true});}catch(e){}</script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.3.0/normalize.min.css">
    <title>Job-Listing</title>
  </head>
  <body>
    <section id="banner">
      <div class="wrapper">
        <div class="content">
          <h1 class="title">Find Better</h1>
          <h2 class="sub_title">Monster can help you find the best jobs, employers and career advice</h2>
          
        </div>
      </div>
    </section>

    <section id="services">
      <div class="wrapper">
        <div class="servise">
          <h3>Search millions of jobs</h3>
            <p>We've got more than 5 million of 'em—so you've got plenty of options. Plus, we'll send an alert when a good fit for you is posted.</p>
            <a href="#" class="button button_highlight button_small">Learn more</a>
        </div>

        <div class="servise" class="cf">
          <h3>Get discovered</h3>
            <p>Create an account and upload your resume to be found by the recruiters who search Monster's databases every day.</p>
            <a href="#" class="button button_highlight button_small">Learn more</a>
        </div>

        <div class="servise">
          <h3>Be a better candidate</h3>
            <p>We've got your back. Our career advice, resume services and education partners give you a leg up in the job search.</p>
            <a href="#" class="button button_highlight button_small">Learn more</a>
        </div>
      </div>
    </section>

    <section id="post_work">
      <div class="wrapper">
        <h2 class="title">Our Work</h2>
        <img src="http://ww2.sinaimg.cn/large/006tKfTcly1feyous8cpfj313n03cgmu.jpg" alt="Past client">

        <ul id="slider">
          <li><img src="http://ww4.sinaimg.cn/large/006tKfTcly1feymi0aebjj30ou0ofgmx.jpg" alt="google"></li>
          <li><img src="http://ww4.sinaimg.cn/large/006tKfTcly1feymjw44u0j30ot0kl42j.jpg" alt="amazon"></li>
          <li><img src="http://ww2.sinaimg.cn/large/006tKfTcly1feymhpp0vpj30jv0ezq60.jpg" alt="photoshop"></li>
        </ul>
      </div>
    </section>



  </body>
</html>
