<div id="paromo">
  <div class="jumbotron" >
    <h1>找找<h1>
     <p>...</p>

  <div class="container-fluid">
     <p><a class="btn btn-primary btn-lg" href="#" role="button">找未来</a>
     <a class="btn btn-primary btn-lg" href="#" role="button">找伙伴</a></p>
  </div>
</div>
</div>
<!-- 第一段完 -->
<div class="page-header">
  <h1>Why Chose Us <small>选择多样 质量上乘</small></h1>
</div>


<div class="container">

    <div class="row serviceSection">

      <div class="col-sm-4 homePageIconDiv rightBorder">
        <div class="homePageIcon">
          <img src="https://ww4.sinaimg.cn/large/006tKfTcly1fd41se58i9j3074074t8j.jpg" alt="Generic placeholder image">
        </div>
        <h1 class="text_center">更快速的锁定人才</h1>
        <p class="text_center">An extremely easy-to-use platform, it can help you in getting the best solutions to your problem with just a click
          of a button.</p>
      </div>

      <div class=" col-sm-4 homePageIconDiv rightBorder">
        <div class="homePageIcon">
          <img src="https://ww1.sinaimg.cn/large/006tKfTcly1fd41sa8ej6j3074074glg.jpg" alt="Generic placeholder image">
        </div>
        <h1 class="text_center">更容易的获取联系</h1>
        <p class="text_center">Our servers are fast in providing you with deliberately accurate results and make sure to keep your private information
          safe
        </p>
      </div>

      <div class="col-sm-4 homePageIconDiv">
        <div class="homePageIcon">
          <img src="https://ww2.sinaimg.cn/large/006tKfTcly1fd41sf0tn8j3074074q2s.jpg" alt="Generic placeholder image" style="margin-top: 34px;">
        </div>
        <h1 class="text_center">更专业的服务</h1>
        <p class="text_center">Take orders from people who are in need of your talent / Look for a certain set of skills or the right person to
          do the job</p>
      </div>
    </div>
<!-- 第2段完-->
  </div>
<div class="session3">
  <div class="page-header">
    <h1>合作伙伴 <small>各大互联网公司</small></h1>
  </div>
  <div class="customer-logos">
  <div class="logo-group">
  <img class="customer-logo" src="https://ww3.sinaimg.cn/large/006tKfTcly1fd2t1fmly9j305k01g0sj.jpg">
  <img class="customer-logo" src="https://ww3.sinaimg.cn/large/006tKfTcly1fd2t416tx0j30o1041jrk.jpg">
  <img class="customer-logo" src="https://ww3.sinaimg.cn/large/006tKfTcly1fd2t3oqj7xj304501oglk.jpg">
  </div>
  <div class="logo-group">
  <img class="customer-logo" src="https://ww2.sinaimg.cn/large/006tKfTcly1fd2t3khbclj307z05lgln.jpg">
  <img class="customer-logo" src="https://ww3.sinaimg.cn/large/006tKfTcly1fd2t3iagpgj30j002iaad.jpg">
  <img class="customer-logo" src="https://ww1.sinaimg.cn/large/006tKfTcly1fd2t3c50ovj303f01b74j.jpg">
  <img class="customer-logo" src="https://ww4.sinaimg.cn/large/006tKfTcly1fd2t39rq60j318g0b4di7.jpg">
  </div>
  </div>
</div>
