// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* Carousel */


.jumbotron {
  background: url('http://ogk4z553l.bkt.clouddn.com/banner002.jpg');

  background-size: cover;

  height: 800px;
  width: 100%;
  left: 0;
  right: 0;
}
